<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HTI_Project</title>
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.min.css.map" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/pic/logo.jpg">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HTI_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="section-top">
        <div class="container d-flex">
            <ul class="d-flex list-unstyled">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
            <div class="sign">
                <a href="" class="btn signicon">Sign <i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="" class="btn signicon"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </div>
    <nav>
        <a href="#" class="logo">LOGO</a>

        <div class="nav-links">
            <a href="#about">About</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>
        </div>

        <div class="menu-toggle">☰</div>
    </nav>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-4 scroll-reveal">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-col">
                    <div class="footer-brand">Katy</div>
                    <p class="footer-text">
                        Welcome to capital at www.katlow-alliance-higher.nude<br>
                        dialove-magma
                    </p>
                    <a href="#" class="btn btn-outline-light">KNOW MORE</a>
                </div>

                <div class="col-lg-2 col-md-6 footer-col">
                    <h4 class="footer-heading">EXPLORE</h4>
                    <ul class="footer-links">
                        <li><a href="#">15. Is normal council safety</a></li>
                        <li><a href="#">Fisher, must-nobole consent</a></li>
                        <li><a href="#">4340003</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-col">
                    <h4 class="footer-heading">ABOUT</h4>
                    <ul class="footer-links">
                        <li><a href="#">Vestibulum: diole sorti sagittis</a></li>
                        <li><a href="#">Viverra anti sagittis: adipiscing</a></li>
                        <li><a href="#">Manditi person: alliances</a></li>
                        <li><a href="#">English audio: dialove-magma</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-col">
                    <h4 class="footer-heading">SUBSCRIBE</h4>
                    <p class="footer-text">
                        Eget area dialove-yelvis.dialo et inerti commissari 100sec manda femuri dialor sè amet immateriale!
                    </p>
                    <form class="newsletter-form">
                        <input type="email" class="newsletter-input" placeholder="Your email address">
                        <button type="submit" class="newsletter-btn"><i class="fas fa-paper-plane"></i></button>
                    </form>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>© 2019 Elizadilla karjai service. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="~/js/main.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/bootstrap.bundle.js.map"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
